version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: ecomm-monorepo
    restart: unless-stopped
    ports:
      - "55432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ../postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - ecommerce-net

  redis:
    image: redis:7
    container_name: ecommerce-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - ecommerce-net

volumes:
  postgres_data:
  redis_data:

networks:
  ecommerce-net:
    driver: bridge
